body {
    background-color: rgba(37, 37, 37, 0.5);
    margin: 0px;
    background-image: url(https://media.cntraveler.com/photos/5fd43196b405c65ac7294577/master/w_4387,h_2982,c_limit/533554773);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-blend-mode: lighten;
}
.logo {
    height: 150px;
    border-radius: 50%;
    border: 3px solid #F7F4DD;
}

.header {
    padding: 40px;
    text-align: center;
    background-color: rgba(15, 15, 15, 0.6);
    margin: 0px;
    font-size: 20px;
    position: absolute;
    width: 100%;
    left: 0px;
    top: 0px;
}

.header h1 a{
    color: #FFFFFF;
    text-decoration: none;
    font-size: 60px;
}


#navigation {
    width: 100%;
    height: 30px;
}

#navigation ul {
    margin: 0;
    padding: 0;
}

#navigation ul li {
    display: inline;
    height: 30px;
    list-style: none;
    font-size: 15px;
    font-family: Impact,
        Haettenschweiler,
        'Arial Narrow Bold',
        sans-serif;
    margin-left: 25px;
    color: white;
}

#navigation ul li a:link {
    color: #1ABC9C;
    text-decoration: none;
}

#navigation ul li a:visited {
    color: #1ABC9C;
    text-decoration: none;
}

#navigation ul li a:hover {
    padding-bottom: 5px;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-bottom-color: white;
    width: fit-content;
}

#navigation ul li a:active {
    color: #49AAE1;
    font-weight: bold;
}

#footer {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 12px;
    text-align: center;
    padding: 3px;
    background-color: #1ABC9C;
    color: white;
    position: absolute;
    width: 100%;
    bottom: 0px;
    left: 0px;
}

#footer a:link {
    text-decoration: none;
    color: white;
}
#footer a:hover{
    color: whitesmoke;
    padding-bottom: 1px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: whitesmoke width: fit-content;
}